// font stack (add your own!)
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
verdana = Verdana, Geneva, sans-serif

// default font stack
font-stack = helvetica-neue
font-size = 16
font-color = #555

//colors
offwhite = #fafafa
ltsilver = #eee
silver = #ccc
ltgrey = #aaa
grey = #777
dkgrey = #555
slate = #333

primary = #2980b9
secondary = #014d73
negative = #ea4c89
