*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  height: 100%;
  font-color: #555;
  background: #fafafa;
}
#overlay_edit,
#overlay_add {
  width: 100%;
  height: 100%;
  background: #2980b9 url("img/dots.png") 50% 4px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
header {
  height: 50px;
  background: #2980b9;
}
header #logo {
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 50px;
  font-weight: 300;
  float: left;
}
header #logo:before {
  content: '\f097';
  padding-right: 0.2em;
  font-family: FontAwesome;
  color: rgba(255,255,255,0.3);
}
.padSearch {
  padding: 0 0 5% 0;
}
#search {
  *zoom: 1;
  width: auto;
  max-width: 90%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.25em;
  position: relative;
}
#search:before,
#search:after {
  content: '';
  display: table;
}
#search:after {
  clear: both;
}
#search .input-lg {
  line-height: 45px;
  border-radius: 5px;
  border: solid 1px #ccc;
  width: 100%;
  padding: 0 20px 0 50px;
  outline: none;
  box-shadow: none;
  color: #555;
  font-size: 0.9em;
  margin: 0;
}
#search .input-lg:focus {
  border: solid 1px #2980b9;
  outline: none;
  box-shadow: 0 0 8px #2980b9;
}
#search .input:before {
  content: "\f002";
}
#search label.magnify {
  position: absolute;
  top: 0;
  left: 0;
  height: 47px;
  padding: 10px;
  width: 45px;
  text-align: center;
  border: solid 1px #2980b9;
  font-size: 1em;
  color: #fff;
  background: #2980b9;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
nav,
.addMark {
  float: right;
  height: 50px;
  z-index: 20;
  line-height: 50px;
  text-align: right;
  min-width: 50px;
}
nav a,
.addMark a {
  color: #2980b9;
  text-decoration: none;
  padding: 0.25em 0.4em;
  border-radius: 4px;
}
nav a:hover,
.addMark a:hover {
  background-color: #ea4c89;
  border: 1px solid #ea4c89;
  color: #fff;
}
nav a:hover span,
.addMark a:hover span {
  display: inline;
}
@media only screen and (max-width: 400px) {
  nav a i,
  .addMark a i {
    display: inline;
  }
}
nav a span,
.addMark a span {
  font-size: 0.8em;
  padding: 0 0 0 0.5em;
  display: none;
}
nav a {
  color: #fff;
  border-color: #fff;
}
article {
  top: 100px;
}
ul {
  margin: 0;
  padding: 0;
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
ul:before,
ul:after {
  content: '';
  display: table;
}
ul:after {
  clear: both;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
li div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
  border-radius: 4px;
  height: 100%;
  padding: 3px 6px;
  position: relative;
}
li div a {
  text-decoration: none;
  color: #777;
  position: absolute;
  height: 100%;
  width: 70%;
}
li div:hover {
  background: #2980b9;
}
li div:hover a {
  color: #fff;
}
li div:hover span {
  color: #fff;
}
li div span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555;
}
li div .bookmark-status {
  position: absolute;
  top: 3px;
  left: 5px;
}
li div .bookmark-title {
  margin-left: 12px;
  width: 70%;
}
li div .bookmark-url {
  color: #777;
  font-size: 0.75em;
  font-style: italic;
}
li div .bookmark-date {
  font-size: 0.75em;
  display: none;
}
li div .broken {
  color: #ea4c89;
}
li div .edit {
  font-family: FontAwesome;
  opacity: 0.5;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fafafa;
  cursor: pointer;
}
li div .edit:hover {
  opacity: 1;
}
.container {
  *zoom: 1;
  width: auto;
  max-width: 90%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  min-width: 300px;
  padding: 0;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
.modal {
  width: 90%;
  max-width: 500px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0 0 8px #014d73;
}
.modal input {
  display: block;
  width: 100%;
  margin: 1em 0;
}
.modal h4 {
  border-top: 1px solid #ccc;
  font-weight: normal;
  padding: 1em 0 0 0;
  margin: 1em 0 0 0;
  text-align: right;
}
@media only screen and (max-width: 480px) {
  .modal h4 {
    text-align: left;
  }
}
.modal h4 a {
  color: #2980b9;
  text-decoration: none;
}
.modal h4 a:hover {
  color: #ea4c89;
}
.offwhite {
  background: #fafafa;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
h1 {
  font-weight: 200;
  font-size: 1.25em;
  border-bottom: 1px solid #ccc;
  height: 50px;
  line-height: 50px;
  margin: 0 0 1em 0;
  padding: 0;
}
h1:before {
  content: '\f097';
  padding-right: 0.2em;
  font-family: FontAwesome;
  color: #2980b9;
}
h1.addCat:before {
  content: '\f067';
}
.addMark {
  float: right;
}
form {
  margin-bottom: 0.5em;
}
input {
  padding: 0.5em;
  border-radius: 4px;
  border: solid 1px #ccc;
  outline: none;
}
input:focus {
  border-color: #2980b9;
}
@media only screen and (max-width: 480px) {
  input {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}
button {
  padding: 0.5em;
  background-color: #2980b9;
  border: none;
  border-radius: 4px;
  color: #fff;
  outline: none;
}
@media only screen and (max-width: 480px) {
  button {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
  }
}
button:hover {
  background: #ea4c89;
}
.templates {
  display: none;
}
.links {
  *zoom: 1;
  width: auto;
  max-width: 90%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-top: 3%;
  padding-bottom: 1em;
  font-size: 0.8em;
}
.links:before,
.links:after {
  content: '';
  display: table;
}
.links:after {
  clear: both;
}
.linkcount {
  color: #2980b9;
  white-space: nowrap;
  padding-right: 20px;
}
@media only screen and (max-width: 480px) {
  .linkcount {
    display: block;
  }
}
.badlinks {
  color: #ea4c89;
  white-space: nowrap;
}
@media only screen and (max-width: 480px) {
  .badlinks {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .collapse display inline {
    display: none;
  }
}
.normal {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 16.6666666666667%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 6px;
  font-size: 0.8em;
  transition: all 0.5s ease;
  font-size: 90%;
}
.normal:before,
.normal:after {
  content: '';
  display: table;
}
.normal:after {
  clear: both;
}
@media only screen and (max-width: 1000px) {
  .normal {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 20%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .normal:before,
  .normal:after {
    content: '';
    display: table;
  }
  .normal:after {
    clear: both;
  }
}
@media only screen and (max-width: 800px) {
  .normal {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 25%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .normal:before,
  .normal:after {
    content: '';
    display: table;
  }
  .normal:after {
    clear: both;
  }
}
@media only screen and (max-width: 600px) {
  .normal {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 33.3333333333333%;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 80%;
  }
  .normal:before,
  .normal:after {
    content: '';
    display: table;
  }
  .normal:after {
    clear: both;
  }
}
@media only screen and (max-width: 400px) {
  .normal {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .normal:before,
  .normal:after {
    content: '';
    display: table;
  }
  .normal:after {
    clear: both;
  }
}
.tiny {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 14.285714285714299%;
  margin-left: 0%;
  margin-right: 0%;
}
.tiny:before,
.tiny:after {
  content: '';
  display: table;
}
.tiny:after {
  clear: both;
}
.large {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
.large:before,
.large:after {
  content: '';
  display: table;
}
.large:after {
  clear: both;
}
